*{
    padding: 0%;
    margin:0% ;
}
.navbar1{
   position: fixed;
   z-index: 1000;
   width: 100%;
}
.container-fluid{
    background-color: whitesmoke;
}
.logo{
    font-family:'sans-serif';
 color:rgb(118, 97, 43) ;
}
.navbar-nav li a{
    color:rgb(118, 97, 43);
    margin-left: 25px;
    font-size: 15px;
    font-size: 20px;  
}
.navbar-nav li a:hover{
    color:rgb(7, 7, 7) ;
    background-color:rgb(118, 97, 43) ;
    transition: all 03ms ease-in;
}


.navbar-nav{
    padding: 5px 20px;
}

.button{
   margin-inline:100px ;
   margin-top: 5px;
   color:rgba(5, 5, 5, 0.838) ;
   font-size: 18px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 400;
   text-decoration: none; 
   background-color:  rgb(118, 97, 43); ;
   border-radius: 10px;
   width: 160px;
   height: 33px;
   text-align: center;
   padding: 5px;
   box-shadow: 0,0,20px rgb(118, 97, 43);
  transition-duration: 04ms ;
  -webkit-transition-property: box-shadow,transform;
  transition-property: box-shadow,transform;
}
.button:hover , .button:focus, .button:active{
    box-shadow: 0,0,20px rgb(118, 97, 43);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
.navbar-toggler{
  margin: 0%;
  padding: 0%;
  width: 25px;
  background-color:rgb(118, 97, 43) ;
}
.navbar-toggler-icon{
    background-color:rgba(118, 97, 43, 0.942);
    color: rgba(0, 0, 0, 0.644);
    font-size: 15px 10px;
    margin-left: -13px;
    list-style-position: left;
}
/* header image works here */
.img1{
    width: 100%;
    margin-top: 40px;
    
}
/* paragraph  */
.text-center{
    position: relative;
    display: flex;
}

.heading1{

    background-color:rgba(118, 97, 43, 0.877) ;
  text-transform: capitalize;
  margin-top: 30px;
font-weight: 600;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.paragraph1{
    background-color: azure;
    text-transform: capitalize;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* cards */
.inner{
    width: 1170px;
    margin: auto;
}
.card-body{
    width: 23%;
    margin: 1%;
    background-color: rgb(118, 97, 43);  
    float: left;
    text-align: center;
    border: 2px solid rgb(118, 97, 43);
}

.card-body img{
    width: 100%;
 height:350px;

}
.clear{
    clear: both;
}

@media only screen and (min-width:200px) and (max-width:1000px){
   .inner{
    width: 100%;
   } 
   .col{
    width:96%;
    margin:2%;
   }
}
/* footer */

.footer-body{
 background-color:  rgba(252, 251, 249, 0.418);
 border: none;
 justify-content: space-between;
 margin-top:-10px;
 
}
.body-f{
   
    font-size: 25px;
    background-color:rgb(118, 97, 43);
 
}
.para{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(118, 97, 43);
    text-align: left;
    
   
}
.link{
background-color:rgb(118, 97, 43)

}
.face{
    color:rgb(118, 97, 43);
    
}
.social li{
   
    text-align: center;
    list-style: none;
font-size: 60px;
color:rgb(118, 97, 43);
cursor: pointer;
}
.social li i:hover{
    color:rgb(10, 10, 9);
    transition: all 5ms ease-out;
}
.adress{
    background-color:rgb(118, 97, 43);

}
.deatil{
    text-align: left;
 
    list-style: none;
    color:rgb(118, 97, 43);
   
    
  
}
.deatil li  p{
    color:rgb(118, 97, 43);
    font-size:20px;
  
    
}
.deatil li  i{
    margin-top: 15px;
    color:rgb(118, 97, 43);
    font-size:20px; 
}
.p2{
text-transform: capitalize;
text-decoration: none;
}
.copyright{
    background-color:rgb(118, 97, 43); 
    width:100px;
}
